/*External method of using css*/

/* Universal selectors */
*{
    margin: 0;
    padding: 0;
    font-family: "Jacquard 12", system-ui;
}

p{
    color: brown;
    background-color: rgba(0, 255, 255, 0);
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

#secondParagraph{
    color: blue;
}

.test{
    color: red;
}

div p{
    background-color: aqua;
}