/*External method of using css*/

p{
    color: brown;
    background-color: rgba(0, 255, 255, 0.274);
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

#secondParagraph{
    color: blue;
}